<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/views/components/login/login.css">
</head>

<body>
    <div class="container-SI">
        <div class="unsee"></div>
        <div class="unsee"></div>
        <div class="home-SI">
            <h1 style="opacity:1">Sign In With Email</h1>
            <div class="login_box">
                <p class="">Your Email</p>
                <input type="email" id="email"></input>
                <p class="">Your Password</p>
                <input type="password" id="password"></input>
            </div>
            <div class="box_button">
                <a href="/google/login/federated/google">
                    <button class="signgoogle">
                        <i class="fa-brands fa-google"></i>
                        Sign In with Google
                    </button>
                </a>
                <button class="signin" onclick="login()">Sign In</button>
                <button class="register" onclick="register()">Register</button>
            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/views/components/login/login.js"></script>

</html>