<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
  integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
<link rel="stylesheet" href="/views/components/adminMenu/adminMenu.css" />
<div class="container1">

  <div>
    <div class="menu-option">
      <a href="/admin/adminProfile">profile</a>
      <a href="/category/viewCreate">create category</a>
      <a href="/category/viewAllCategory">view all category</a>
      <a href="/report/viewALlReports">view all reprot</a>
      <a href="/reportComment/viewALlReportComment">view all reprot comment</a>
      <a href="/author/viewCreateAuthor">create author</a>
      <a href="/author/getAllAuthor">manage author</a>
      <a href="/manga/viewAllManga">manage manga</a>
      <a href="/user/getAllUsers">manage user</a>
      <a href="/comment/commentHight">manage ViewComment</a>
      <a href="/manga/viewCreateManga">manage manga author post</a>
      <a href="/admin/Logout">log out</a>
    </div>
  </div>
</div>